/* :root{
  --footer-height: 465px;
  --header-height: 135px;
  --mainlink-height: 144px;
  --main-height: calc(100vh - var(--footer-height) - var(--header-height));
} */
*{
  font-family: 'Open Sans';
}

a{
    text-decoration: none !important;
    color: gray !important;
}
ul{
    list-style-type: none;
    padding: 0 !important;
}
/* header */
/* header{
  height: var(--header-height);
} */

/* MAIN */
/* main{
  height: calc(100vh - var(--footer-height) - var(--header-height));
} */
#jumbotron-section{
  background-image: url('jumbotron.jpg');
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center top;
}
#content{
  /* height: calc(var(--main-height) - var(--mainlink-height)); */
  background-color: black;
  color: white;
}
#main-link{
  /* height: var(--mainlink-height); */
  background-color: #0282f9;
  color: white;
}
.img-main{
  max-width: 40px;
}

/* footer */
footer{
  /* height: var(--footer-height); */
}

#footer-link{
  background-image:url('footer-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  
}
#logo-background{
  width: 50%;
  position: relative;
  overflow: hidden;
}
#logo-background img{
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

#footer-social{

  background-color: #303030;
}
