*{
  font-family: 'Open Sans';
}

ul {
  list-style-type: none;
}

a:link{
  text-decoration: none;
  color: lightgray;
}

/* MAIN */
#content{
  background-color: black;
  color: white;
}
#main-link{
  background-color: #0282f9;
  color: white;
}
.img-main{
  max-width: 35px;
}

/* footer */
#footer-link{
  background-image:url('footer-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  
}
#footer-social{

  background-color: #303030;
}
