*{
  font-family: 'Open Sans';
}
li{
  list-style: none;
}

/* MAIN */
#content{
  background-color: black;
  color: white;
}
#main-link{
  background-color: #0282f9;
  color: white;
}
.img-main{
  max-width: 35px;
}